body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cecece;
}

article {
    display: flex;
    flex-direction: column;
}

article img[data-src] {
    filter: blur(0.2em);
}

article img {
    filter: blur(0em);
    transition: filter 0.5s;
}