@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather&display=swap');

.noDisplay {
    display: none;
}

h1, h2, h3, h4, legend {
    font-family: 'Great Vibes', Arial, 'Times New Roman';
    color: #261447;
}

p, a, label {
    font-family: Merriweather, Helvetica, sans-serif;
}

a {
    color: #261447;
}

body {
    max-width: 1200px;
    min-width: 350px;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
}

/*Header Styles*/
header {
    background-color: #8CB369;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 5%;
    padding: 0 2% 3% 2%;
}

/*section 1*/
.brand {
    display: block;
    align-items: center;
    grid-column: 2/3;
}

.brand .logo-link img {
    width: 150px;
    margin-bottom: -50px;
}

header .company {
    font-size: 60%;
    padding: 5%;
}

header .company h1 {
    margin-bottom: -5px;
}

/*section 2*/
.navigation {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 1fr;
}

.social {
    display: flex;
    grid-row: 2/3;
}

.social a {
    margin-right: 10%;
    width: 40px;
}

#hamburgerBtn {
    width: 45px;
    grid-row: 3/4;
}

#hamburgerBtn {
    background-color: transparent;
    border: 1px solid #261447;
    font-size: 2rem;
    margin-top: -2%;
    color: #261447;
}

#primaryNav ul {
    list-style-type: none;
    margin: .2rem 2vw;
    padding: 0;
    font-weight: 800;
}

.active {
    background-color: rgba(0,0,0,0.6);
    color: white;
}

header nav {display: none;}
header nav.open {
    display: block;
    grid-column: 1/4;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 2%;
}

header a {
    color: black;
}

#primaryNav a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,0.5);
}

#primaryNav a:hover {
    background-color: rgba(0,0,0,0.3);
}

/*Main Styles*/
/*Home Page*/
.home-grid {
    max-width: 80%;
    margin-left: 10%;
}

.home-grid section {
    background-color: #EFD0CA;
    margin: 50px 10px;
    padding: 15px;
}

.home-grid section p {
    text-align: start;
    padding: 20px;
    color: #36382E;
}

#home-banner {
    background-color: #8CB369;
    position: relative;
    padding: 5px;
    padding-bottom: 0;
}

#home-banner h2 {
    position: absolute;
    top: 15px;
    left: 25px;
}

#home-banner img {
    width: 100%;
}

#home-designer {
    position: relative;
    background-color: #EFD0CA;
}

#home-designer h2 {
    position: absolute;
    left: 15px;
    top: -5px;
    color: #261447;
    background-color: #EFD0CA;
    padding: 6px;
}

#home-designer a {
    background-color: #8CB369;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    bottom: 40px;
    right: 40px;
}

#home-designer a:hover {
    background-color: #EFD0CA;
}

#home-designer img {
    width: 100%;
}

#question-banner {
    padding-bottom: 20px;
}

#question-banner a {
    background-color: #8CB369;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}

#question-banner a:hover {
    background-color: #EFD0CA;
}

.weather {
    background-color: #8CB369;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.weather h4, .weather img, .weather p {
    margin: 0;
}

.weather img {
    margin-bottom: -20px;
}

.weather-sections section {
    margin: 0 10px;
}

.forecast {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

.forecast-day {
    background-color: #8CB369;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.forecast-day p {
    padding: 15px 0;
    margin: 0;
}

.home-grid .weather p, .home-grid .forecast-day p {
    color: black;
}

.forecast-day .top-temp {
    margin-bottom: -20px;
}

#specialty-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*AboutUs Page*/
.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.about-grid section, .about-grid div {
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 25px;
    background-color: #EFD0CA;
    justify-content: center;
    align-items: center;
}

.about-grid img {
    box-sizing: border-box;
    border: 8px solid #8CB369;
}

.about-grid p {
    color: #36382E;
}

/*ContactUs Page*/
.contact-info {
    box-shadow: 8px 8px 8px #36382E;
    margin-bottom: 5%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    border: 1px solid #36382E;
}

.contact-info h3, .contact-info p {
    text-align: start;
    padding-left: 10%;
}

.contact-info a {
    display: block;
    margin: 0 70% 0 10%;
}

.contact-info section {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
    max-width: 330px;
}

form fieldset {
    margin: 2rem 15px;
    border: 1px solid #36382E;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 100%;
}

form legend {
    color: #261447;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form select {
    display: block;
    margin: 10px 0;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #261447;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #36382E;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 290px;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.description textarea {
    display: block;
    padding: .75rem 10px;
    width: 300px;
}

form label.description {
    display: block;
    color: #261447;
    padding: .75rem 15px;
    margin-left: -15px;
}

.submitBtn {
    border: none;
    background-color: #261447;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 100%;
    max-width: 20rem;
}

.submitBtn:hover {
    background-color: #8CB369;
    color: black;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid{
    border-left: #261447 solid 6px;
}

#contact-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Fresh Page*/
#fresh-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.freshBtn {
    border: none;
    background-color: #261447;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 100%;
    max-width: 20rem;
}

.freshBtn:hover {
    background-color: #8CB369;
    color: black;
}

#final-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border: 2px solid #261447;
    border-radius: 15px;
    max-width: 400px;
    width: 90%;
    margin-bottom: 25px;
}

.nutrient-info {
    grid-column: 2/3;
    grid-row: 1/3;
}

.nutrients {
    margin-left: 40px;
    text-align: start;
}

.order-date {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: end;
}

.instructions {
    grid-column: 1/3;
}

#fullOrder {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#fresh-grid .hidden {
    display: none;
}

/*About Us Page*/


/*Contact Us Page*/


/*Footer styles*/
footer {
    background-color: #8CB369;
    display: block;
    padding: 2% 2% 0 2%;
    align-items: center;
    font-size: 70%;
}

.section1 section h2, .section2 h3 {
    font-size: 150%;
}

.section1 {
    max-width: 50%;
    margin-left: 25%;
}

.location {
    text-decoration: none;
    color: #1d2467;
    font-weight: 700;
    display: block;
    margin-top: 15px;
}

.location:hover {
    color: black;
}

.section2 {
    padding-bottom: 1%;
}

.section2 p {
    display: block;
}

.author {
    font-weight: 700;
    font-size: 130%;
}

hr {
    max-width: 80%;
}
